body{
    font-family: 'Calibri';
    /*
    display: grid;
    margin: 50px 10% 0 10%;
    */
}

.header {
  position: relative;
  top: 50px;
  right: 10%;
}


.header img{
    vertical-align: middle;
    height: 280px;
}

.header ul{
    display: inline-block;
    list-style: none;
    float: right;
    line-height: 93px;
    margin: 0;
    padding: 90px 0 0 0;
}

.header ul li{
    display: inline-block;
    padding: 0 20px;
}


.header ul a li{
  color: white;
  /** color: #1f1f28; **/
  font-weight: 500;
  font-size: 1.5em;
  transition: .3s ease;
}

.header ul a li:hover{
  background: #1f1f28;
  color: white;
}




.main .content img{
  width: 100%
  
}

.main .content .mission img{
  width: 33%;
}

.main .content2 {
  display: grid;
  position: relative;
  margin: auto;
  grid-template-areas: "left middle right";
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.content2 ul {
  list-style: none;
}

.education{
  grid-area: left;
}

.experience{
  grid-area: middle;
}

.expert{
  grid-area:right;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.footer{
  text-align: center;
}
/*---------------------------------------------------------------------Amber Lizama------------------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}
 .created {
   text-align: center;
 }
.slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  animation: slide 60s infinite;
}

.content2 {
  color: #fff;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
}

.principal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  letter-spacing: 5px;
  text-align: center;
}

@keyframes slide {
  10% {
    background-image: url('img_homepg/img1.jpg');

  }
  20% {
    background-image: url('img_homepg/img2.jpg');
  }
  30% {
    background-image: url('img_homepg/img3.jpg');
  }
  40% {
    background-image: url('img_homepg/img4.jpg');
  }
  50% {
    background-image: url('img_homepg/img5.jpg');
  }
  60% {
    background-image: url('img_homepg/img6.jpg');
  }
  70% {
    background-image: url('img_homepg/img7.jpg');
  }
  80% {
    background-image: url('img_homepg/img8.jpg');
  }
  90% {
    background-image: url('img_homepg/img9.jpg');
  }
  100% {
    background-image: url('img_homepg/img10.jpg');
  }

}